@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

// #map {
//   height: 50%;
// }

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body  {
  // height: 100%;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  
}
#bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 150%;
}
.background {
  background-color: #212121;
  height: 190%;
   
}

.main-content {
  position: relative;
  color: #FFFF;
  width: 50%;
  margin: 0 auto;

  & h1 {
    text-align: center;
  }
}



.footer-item {

 background-color: #105BD8;
 
 
 &__top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
 }

 &__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: 400;
 }

 & h3 {
  font-size: 25px;
  font-weight: 700;
  color: white;
 }

 & img {
  width: 4%;
 }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  & img {
    width: 10%;
    fill: white;
    cursor: grab;
  }
  
}

.header img ::hover {
  fill: green;
  }

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;

  .iframe-container__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.map-section {
  margin-top: 5rem;
  &__map {
    height: 40%;
  }
}

h1 {
  margin: 1rem 0;
  font-weight: 500;
}


